#main {
  height: 50vh;
  width: 80%;
  margin: 5% auto 5% auto;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-between;
  color: $light;

  #main-header {
    margin: auto;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include margin-top(2rem);
    button {
      @include set-color($brown, $light);
      padding: 10px 20px;
      margin: 20px 10px;
      border-radius: 20px;
      border: 1px solid $brown;
      &:hover {
        background-color: darken($brown, 10);
        cursor: pointer;
      }
    }
  }
  #main-picture {
    height: 100%;
    width: 100%;
    background-image: url("../assets/artist.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  @media (max-width: 992px) {
    height: 60vh;
    flex-direction: column-reverse;
  }
}
