@import "~rfs/scss";
@import "./config";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(250, 246, 245);
}

#quotes {
  max-width: 400px;
  // padding-right: 3.6rem;
}

#navbar {
  a {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: monospace;
  }
  .navbar-brand {
    font-size: 2.5rem;
  }
}

.header-text {
  font-family: "Shadows Into Light", cursive;
  font-size: 3.5rem;
  color: $dark;
  @media (max-width: 992px) {
    font-size: 2.5rem;
  }
}

#main-picture {
  @media (max-width: 992px) {
    margin-left: 70px;
  }
}
#form-container {
  width: 30% !important;

  @media (max-width: 2000px) {
    width: 50% !important;
  }
  @media (max-width: 990px) {
    width: 100% !important;
  }
}

#main-content {
  margin: 100px auto;
  #main-header {
    h1 {
      font-size: 5rem;
      font-family: "Fredericka the Great", cursive;
    }
    p {
      font-family: serif;
    }
  }

  @media (max-width: 992px) {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

#footer {
  i {
    font-size: 1.5rem;
  }
}
